
body {
    font-family: 'Roboto', sans-serif;
    background-color: #E31823;
    font-weight: 400;
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    overflow-x: hidden;
}


.rechtect-weiss {
    background-image: url("../images/rechteck_weiss.png"); /* The image used */
    top: -100px;
    right: -5%;
    width: 329px;
    height: 329px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rechtect-gelb {
    background-image: url("../images/rechteck_gelb.png"); /* The image used */
    width: 398px;
    height: 398px;
    left: -220px;
    top: -160px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rechtect-schwarz {
    background-image: url("../images/rechteck_schwarz.png"); /* The image used */
    top: -147.8536376953125px;
    left: 52%;
    width: 266px;
    height: 266px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.content {
    padding-left: 4%;
    padding-right: 4%;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 5px;
    padding-left: 5px;
}


.form-control:disabled, .form-control[readonly] {
    background-color: #ffffff;
    opacity: 0.7;
}

.form-control::-webkit-input-placeholder {
    color: #000000;
    opacity: 0.45;
}

/* WebKit, Blink, Edge */
.form-control:-moz-placeholder {
    color: #000000;
    opacity: 0.45;
}

/* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {
    color: #000000;
    opacity: 0.45;
}

/* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {
    color: #000000;
    opacity: 0.45;
}

/* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {
    color: #000000;
    opacity: 0.45;
}

/* Microsoft Edge */
.form-control:focus {
    border-color: #80bdff !important;
    box-shadow: 0 0 0 0 !important;
}

.form-group {
    margin-bottom: 8px;
}

[type="checkbox"] {
    vertical-align: top;
}

.form-control {
    height: 24px;
    text-align: center;
    font-size: 14px;
}


.bg-red {
    background-color: #E31823;
}

.sp-logo {
    height: 55px;
    margin-top: 36px;
}

.sp-claim {
    height: 21px;
    width: 146px;
    margin-left: 92px;;
}

.title, .title_tablet {
    font-size: 38px;
    font-weight: bold;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    line-height: 44px;
}

.title p, .title_tablet p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: normal;
}

.unter-title {
    margin-top: 6px;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: bold;
    width: 83%;
}


.footer {
    position: fixed;
    bottom: 0px;
    color: #fff;
    width: 100%;
    text-align: center;
}

footer span {
    cursor: pointer;
    font-size: 1rem;
    font-weight: bolder;
}

.footerlink {
    position: relative;
}

.footerlink .arrowicon {
    display: none;
    position: absolute;
    bottom: -20px;
    right: 50%;
    transform: translateX(50%);
}

.footerlink.active .arrowicon {
    display: inline;
}

.footercontent {
    padding: 50px 0;
    text-align: center;
}

.footercontent a {
    color: #000;
}

.footercontent a:hover {
    color: #444;
}

@keyframes opacityblink {
    0% {
        background-color: #ffe181;
    }
    40% {
        background-color: #FFCC26;
    }
    60% {
        background-color: #FFCC26;
    }
    100% {
        background-color: #ffe181;
    }
}

.spielen_button {
    padding-top: 15px;
    margin-top: 10px;
}

.spielen_button button {
    border-radius: 8px;
    padding-top: 2px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: bold;
    height: 36px;
    font-size: 20px;
    text-transform: uppercase;
    box-shadow: 0px 3px 3px #0000004D;
    background: #FFCC26 0% 0% no-repeat padding-box;
    animation: 3s ease-out 0s infinite opacityblink;
}


.spielen_button button:hover {
    background-color: #E40615 !important;
}

.handy_image_container {
    /* left: 31px; */
    margin-left: 0;
    /* height: 59%; */
    max-width: 75%;
    position: relative;
    display: inline-block;
    overflow: visible;
}

.handy_image_container .textinimage {
    position: absolute;
    font-size: 1rem;
    top: 45%;
    right: 0;
}

.hidelotnumber .
.sofort_gewinn {
    top: 9px;
    left: 385px;
    padding: 10px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    width: 187px;
    height: 187px;
}

.sofort_gewinn .title {
    color: #000000;
    display: inline-block;
    font-weight: bold;
    line-height: 12px;
    font-size: 20px;
    width: 187px;
    height: 85px;
    margin-top: 11px;
    margin-left: -9px;
}

.sofort_gewinn .content {
    color: #E40615;
    letter-spacing: 0px;
    text-align: center;
    width: 96px;
    height: 54px;
}

.spiel_circle {
    right: 0px;
    top: 220px;
    width: 787px;
    height: 187px;
}


#prizePointer {
    position: absolute;
    display: block;
    top: 39%;
    z-index: 999;
    height: 76px;
    right: 9%;
}


.circle-close {
    display: block;
    position: absolute;
    z-index: 10000;
    top: -16px;
    right: -16px;
    width: 48px;
    height: 48px;
    margin: -6px;
    font-size: 25px;
    background: #fff;
    color: #000000;
    border-style: none;
    font-size: 43px;
    line-height: 0px;
    border-radius: 26px;
    text-decoration: none;
    border-color: #fff;
    box-shadow: #0b3251;
}

.form-check:last-child {
    margin-top: 10px;
}

.form-check .form-check-label {
    margin-top: 3px;
}

.modal-body {
    text-align: center;
    padding: 85px;
}

.modal_title p {

    font-size: 42px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    line-height: 37px;
}

.modal_content p {
    font-size: 24px;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.modal_footer p {
    font-size: 14px;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.losnumbox {
    margin-top: 50px;
}

.sidebar {
    position: absolute;
    top: 123px;
    left: -48%;
    box-shadow: 0px 3px 3px #0000004D;
    background: #FFCC26 0% 0% no-repeat padding-box;
    width: 50%;
    height: 56%;
    min-height: 600px;
    max-height: 56%;
    transition: .3s;
    z-index: 1040;
    /* border-radius: 7px; */
    border-radius: 0px 5px 10px 0px;
    -moz-border-radius: 0px 5px 10px 0px;
    -webkit-border-radius: 0px 5px 10px 0px;
    border: 0px solid #000000;
    padding-left: 125px;
    padding-right: 125px;
    padding-bottom: 69px;
    padding-top: 69px;
    font-size: 14px;
    color: #000000b3;
}

.sub_hl {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.footcontain {
    max-width: 1200px;
}

#sidebar-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1039;
    display: none;
}

#sidebar-backdrop.active {
    display: block;
}

.text-muted {
    color: #000000;
    opacity: 0.7;
}

.sidebarBtn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -12px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
    outline: none;
    margin: auto;
}

.sidebarBtn span {
    display: block;
    width: 35px;
    height: 3px;
    position: absolute;
    top: 24px;
    transition: .3s;
}

/*.sidebarBtn span:before {
    content: '\f054';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    height: 3px;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 0px;
    left: 22px;
}

.sidebarBtn span:after {
    content: '\f053';
    width: 100%;
    height: 3px;
    position: absolute;
    top: 10px;
    left: 0;
}*/

.sidebar-active {
    left: 0;
}

.sidebar-active .sidebarBtn {
    opacity: 0 !important;
}

.sidebar.sidebar-active::after {
    content: "";
    display: block;
    background: black;
    width: 25px;
    height: 2px;
    position: absolute;
    right: 20px;
    top: -20px;
    bottom: 0;
    margin: auto;
    transform: rotate(-50deg);
}

.sidebar.sidebar-active::before {
    content: "";
    display: block;
    background: black;
    width: 25px;
    height: 2px;
    position: absolute;
    right: 20px;
    top: 15px;
    bottom: 0;
    margin: auto;
    transform: rotate(50deg);
}

.sidebar::after {
    content: "";
    display: block;
    background: black;
    width: 25px;
    height: 2px;
    position: absolute;
    right: 5px;
    top: -20px;
    bottom: 0;
    margin: auto;
    transform: rotate(50deg);
}

.sidebar::before {
    content: "";
    display: block;
    background: black;
    width: 25px;
    height: 2px;
    position: absolute;
    right: 5px;
    top: 15px;
    bottom: 0;
    margin: auto;
    transform: rotate(-50deg);
}


.sidebarBtn.toggle span {
    background-color: transparent;
}

.sidebarBtn.toggle span:before {
    top: 0;
    transform: rotate(-45deg);
}

.sidebarBtn.toggle span:after {
    top: 0;
    transform: rotate(45deg);
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0px 3px 3px #0000004D;
    color: #FFFFFF;
    background: #d41c25 0% 0% no-repeat padding-box;
}

.btn:hover {
    color: #FFFFFF;
    background: #f62731 0% 0% no-repeat padding-box;
}

.glucksrad-button {
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 334px;
    height: 33px;
    background: #E31823 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 3px #0000004D;
}

.sidebar .help-block {
    color: #dc3545;
}

.span-btn {
    background-color: #ffffff;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 8px;
    letter-spacing: 0px;
    font-size: 24px;
    border: 1px solid transparent;
    padding: 15px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

}

.fb_iframe_widget {
    display: inline !important;
}

.cursor-png {
    position: absolute;
    right: -420px;
    top: 300px;
    z-index: 999;
    width: 160px;
    height: auto;
}

#canvas {
    margin: 55px;
}

.handy_image_container.mobile {
    display: none;
}

.spielen_button.mobile {
    display: none;
}

.spielen_button.desktop {
    display: block;
}

.sidetitle {
    display: none;
}

.title_tablet {
    display: none;
}

.form-check-label a {
    color: #000000b3;
}

@media screen and (max-width: 1920px) {
    .footerrow {
        margin-top: -30px;
    }
}

@media screen and (min-width: 1850px) {
    .losnumbox {
        display: block;
        max-width: 400px;
    }
}

@media screen and (min-width: 1421px) and (max-width: 1750px) {
    .textinimage {
        right: -45px !important;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1420px) {

    .textinimage {
        right: -60px !important;
    }

    #canvas {
        margin-left: 0;
        margin-top: 10px;
        width: 500px;
        margin-bottom: 10px;
    }

    .cursor-png {
        position: absolute;
        right: -260px;
        top: 200px;
        z-index: 999;
        width: 160px;
        height: auto;
    }

    .sp-logo {
        height: 45px;
        margin-top: 25px;
    }
}

@media (max-width: 1200px) {

    .title_tablet {
        display: block;
    }

    .spielen_button.mobile button {
        position: relative;
        padding-right: 60px;
    }

    .spielen_button.mobile button:after {
        content: "";
        display: block;
        background: black;
        width: 22px;
        height: 2px;
        position: absolute;
        right: 10px;
        left: auto;
        top: auto;
        bottom: 16px;
        margin: auto;
        transform: rotate(-40deg);
    }

    .spielen_button.mobile button:before {
        content: "";
        display: block;
        background: black;
        width: 22px;
        height: 2px;
        position: absolute;
        right: 25px;
        left: auto;
        top: auto;
        bottom: 16px;
        margin: auto;
        transform: rotate(40deg);
    }


    .hidemobile {
        display: none;
    }

    .sidetitle {
        width: 100%;
        margin-bottom: 30px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        color: #000;
    }

    .handy_image_container {
        width: 100%;
        max-width: 100%;
        display: none;
    }

    .handy_image_container.mobile {
        display: block;
    }

    .handy_image_container .textinimage {
        width: 100%;
        max-width: 100%;
    }

    .handy_image_container .textinimage {
        position: absolute;
        font-size: 1rem;
        top: auto;
        bottom: -50px;
        right: auto;
        left: auto;
        text-align: center;
    }

    .losnumbox {
        display: block;
        margin-top: 70px;
    }

    #vorname {
        margin-bottom: 10px;
    }

    .form-check.hidemobile {
        display: block;
    }

    .sidebar .form-control {
        height: 30px;
    }

    .sidebar {
        position: absolute;
        top: -200%;
        left: 50%;
        transform: translatex(-50%);
        box-shadow: 0px 3px 3px #0000004D;
        background: #FFCC26 0% 0% no-repeat padding-box;
        width: 90%;
        height: 85%;
        min-height: 500px;
        max-height: 85%;
        transition: .3s;
        z-index: 1040;
        /* border-radius: 7px; */
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border: 0px solid #000000;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 100px;
        padding-top: 60px;
        font-size: 14px;
        color: #000000b3;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    .sidebar-active {
        left: 50%;
        transform: translatex(-50%);
        top: 10%;
    }

    .sidebar-active .sidebarBtn {
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
        position: absolute;
        top: auto;
    }

    .sidebar::after {
        display: none;
    }

    .sidebar::before {
        display: none;
    }

    .sidebar.sidebar-active::after {
        content: "";
        display: block;
        background: black;
        width: 26px;
        height: 2px;
        position: absolute;
        right: 49.5%;
        left: auto;
        top: auto;
        bottom: 20px;
        margin: auto;
        transform: rotate(-40deg);
    }

    .spielen_button.mobile {
        display: block;
    }

    .spielen_button.desktop {
        display: none;
    }

    .sidebar.sidebar-active::before {
        content: "";
        display: block;
        background: black;
        width: 26px;
        height: 2px;
        position: absolute;
        left: 49.5%;
        right: auto;
        top: auto;
        bottom: 20px;
        margin: auto;
        transform: rotate(40deg);
    }

    .modal-dialog {
        max-width: 80%;
        margin: auto;
    }

    #canvasContainer {
        text-align: center;
        width: 100% !important;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    #canvasContainer canvas {
        max-width: 500px;
        width: 95%;
        height: 95%;
        margin: auto !important;
    }

    .circle-close {
        width: 30px;
        height: 30px;
        line-height: 30px;
        top: -10px;
        font-size: 30px;
        right: -10px;
    }

    .title {
        display: none;
    }

    .title, .title_tablet {
        font-size: 48px;
        line-height: 48px;
        width: unset;
        margin-top: 20px !important;
        text-align: center;
    }

    .unter-title {
        font-size: 16px;
        text-align: center;
        line-height: 1.2;
        margin-bottom: 20px;
        text-align: center;
        font-weight: 400;
        width: 100%;
    }

    body {
        width: 100%;
        overflow-x: hidden;
    }

    .rechtect-weiss {
        background-image: url("../images/rechteck_weiss.png"); /* The image used */
        top: 0px;
        right: 0px;
        width: 120px;
        height: 180px;
        position: absolute;
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: 200%;
    }

    .rechtect-gelb {
        background-image: url("../images/rechteck_gelb.png"); /* The image used */
        width: 200px;
        height: 200px;
        right: 40px;
        left: unset;
        top: 90px;
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .rechtect-schwarz {
        background-image: url("../images/rechteck_schwarz.png"); /* The image used */
        top: 0px;
        left: 0px;
        width: 120px;
        height: 120px;
        position: absolute;
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: 200%;
    }

    canvas {
        width: 90%;
        height: 90%;
        margin: 5% 0 !important;
        text-align: center;
    }

    .cursor-png {
        width: 150px;
        right: -20px;
        top: 200px;
    }

    .spielen_button {
        text-align: center;
        width: 100%;
        padding-top: 0;
    }

    .footerrow {
        margin-top: 30px;
    }

    .footerrow span {
        font-size: 13px;
    }

    .modal-dialog .modal-body {
        padding: 140px 30px !important;
    }

    .modal_title p {
        font-size: 24px;
        line-height: 24px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .modal_content {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .modal_content p {
        font-size: 18px;
        line-height: 20px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .modal_footer p {
        font-size: 14px;
        line-height: 20px;
        width: 100%;
    }

    .modal_button {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1200px) {

    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 100%;
    }

}


@media (max-width: 767px) {
    .cursor-png {
        width: 140px;
        right: -50px;
        top: 185px;
    }
}


@media (max-width: 576px) {

    .title_tablet {
        display: block;
    }

    .spielen_button.mobile button {
        position: relative;
    }

    .spielen_button.mobile button:after {
        content: "";
        display: block;
        background: black;
        width: 22px;
        height: 2px;
        position: absolute;
        right: 10px;
        left: auto;
        top: auto;
        bottom: 16px;
        margin: auto;
        transform: rotate(-40deg);
    }

    .spielen_button.mobile button:before {
        content: "";
        display: block;
        background: black;
        width: 22px;
        height: 2px;
        position: absolute;
        right: 25px;
        left: auto;
        top: auto;
        bottom: 16px;
        margin: auto;
        transform: rotate(40deg);
    }

    .hidemobile {
        display: none;
    }

    .handy_image_container {
        width: 100%;
        max-width: 100%;
    }

    .handy_image_container .textinimage {
        width: 100%;
        max-width: 100%;
    }

    .handy_image_container .textinimage {
        position: absolute;
        font-size: 1rem;
        top: auto;
        bottom: -50px;
        right: auto;
        left: auto;
        text-align: center;
    }

    .losnumbox {
        display: block;
        margin-top: 70px;
    }

    #vorname {
        margin-bottom: 10px;
    }

    .form-check.hidemobile {
        display: block;
    }

    .sidebar .form-control {
        height: 30px;
    }

    .sidebar {
        position: absolute;
        top: -200%;
        left: 50%;
        transform: translatex(-50%);
        box-shadow: 0px 3px 3px #0000004D;
        background: #FFCC26 0% 0% no-repeat padding-box;
        width: 90%;
        height: 90%;
        min-height: 500px;
        max-height: 85%;
        transition: .3s;
        z-index: 1040;
        /* border-radius: 7px; */
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border: 0px solid #000000;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px;
        padding-top: 30px;
        font-size: 14px;
        color: #000000b3;
    }

    .sidebar-active {
        left: 50%;
        transform: translatex(-50%);
        top: 5%;
    }

    .sidebar-active .sidebarBtn {
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
        position: absolute;
        top: auto;
    }

    .sidebar form {
        height: 100%;
    }

    .sidebar form .row {
        height: 100%;
        overflow-y: auto;
    }

    .sidebar::after {
        display: none;
    }

    .sidebar::before {
        display: none;
    }

    .sidebar.sidebar-active::after {
        content: "";
        display: block;
        background: black;
        width: 26px;
        height: 2px;
        position: absolute;
        right: 49%;
        left: auto;
        top: auto;
        bottom: 20px;
        margin: auto;
        transform: rotate(-40deg);
    }

    .spielen_button.mobile {
        display: block;
    }

    .spielen_button.desktop {
        display: none;
    }

    .sidebar.sidebar-active::before {
        content: "";
        display: block;
        background: black;
        width: 26px;
        height: 2px;
        position: absolute;
        left: 49%;
        right: auto;
        top: auto;
        bottom: 20px;
        margin: auto;
        transform: rotate(40deg);
    }

    .modal-dialog {
        max-width: 90%;
        margin: auto;
    }

    #canvasContainer {
        text-align: center;
        width: 100% !important;
    }

    #canvasContainer canvas {
        max-width: 300px;
        width: 95%;
        height: 95%;
        margin: auto !important;
    }

    .circle-close {
        width: 30px;
        height: 30px;
        line-height: 30px;
        top: -10px;
        font-size: 30px;
        right: -10px;
    }

    .title {
        display: none;
    }

    .title, .title_tablet {
        font-size: 26px;
        line-height: 30px;
        width: unset;
        margin-top: 20px !important;
        text-align: center;
    }

    .unter-title {
        font-size: 16px;
        text-align: center;
        line-height: 1.2;
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
        font-weight: 400;
    }

    body {
        width: 100%;
        overflow-x: hidden;
    }

    .rechtect-weiss {
        background-image: url("../images/rechteck_weiss.png"); /* The image used */
        top: 0px;
        right: 0px;
        width: 70px;
        height: 140px;
        position: absolute;
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: 240%;
    }

    .rechtect-gelb {
        background-image: url("../images/rechteck_gelb.png"); /* The image used */
        width: 150px;
        height: 150px;
        right: 20px;
        left: unset;
        top: 110px;
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .rechtect-schwarz {
        background-image: url("../images/rechteck_schwarz.png"); /* The image used */
        top: 0px;
        left: 0px;
        width: 100px;
        height: 100px;
        position: absolute;
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: 150%;
    }

    canvas {
        width: 90%;
        height: 90%;
        margin: 5% 0 !important;
        text-align: center;
    }

    .sp-logo {
        margin-top: 20px;
        height: 43px;
    }

    .sp-claim {
        width: auto;
        margin-left: 82px;
        height: 17px;
    }


    .cursor-png {
        width: 90px;
        right: 0;
        top: 40%;
    }

    .spielen_button {
        text-align: center;
        width: 100%;
        padding-top: 0;
    }

    .footerrow {
        margin-top: 30px;
    }

    .footerrow span {
        font-size: 13px;
    }

    .modal-dialog .modal-body {
        padding: 50px 20px;
    }

    .modal_title p {
        font-size: 24px;
        line-height: 24px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .modal_content {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .modal_content p {
        font-size: 18px;
        line-height: 20px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .modal_footer {
        display: none;
    }

    .modal_button {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

}

@media (max-width: 480px) and (max-height: 500px) {
    .sidebar-active {
        left: 50%;
        transform: translatex(-50%);
        height: 90%;
        max-height: 90%;
    }
}

@media (max-width: 375px) {


    body {
        width: 100%;
        overflow-x: hidden;
    }

    canvas {
        width: 90%;
        height: 90%;
        margin: 5% 0 !important;
        text-align: center;
    }

    .cursor-png {
        width: 75px;
        right: -20px;
        top: 42%;
    }

    .footerrow span {
        font-size: 12px;
    }
}

.modal-footer {
    display: initial;
    font-size: 12px;
    border-top: 1px !important;
}

@media screen and (min-width: 1201px) and (max-width: 1920px) and (min-height: 801px) and (max-height: 960px) {
    #canvas {
        margin-bottom: 0px;
        margin-top: 10px;
    }

    .handy_image_container img {
        height: unset;
        width: auto;
        /* max-height: 400px;*/
    }
}

@media screen and (min-width: 1201px) and (max-width: 1920px) and (min-height: 640px) and (max-height: 800px) {
    #canvas {
        margin-bottom: 0px;
        margin-top: 10px;
    }

    .handy_image_container img {
        height: unset;
        width: auto;
        /*  max-height: 350px;*/
    }

    .textinimage {
        right: -75px !important;
    }
}